<form>
    <div class="card">        
        <div class="card-body">
            <h5 class="card-title" style="color: dark-blue;">Informações do aluno</h5>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nomeAluno">Nome</label>
                        <input type="text" class="form-control" id="nomeAluno" name="nomeAluno" placeholder="Nome do aluno" required>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="dataNascAluno">Nascimento</label>
                        <input type="date" class="form-control" id="dataNascAluno" name="dataNascAluno" required>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="NISAluno">NIS</label>
                        <input type="text" class="form-control" id="NISAluno" name="NISAluno" placeholder="NIS" required>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="idCensoAluno">ID Censo</label>
                        <input type="text" class="form-control" id="idCensoAluno" name="idCensoAluno" placeholder="ID Censo" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="sexoAluno">Sexo</label>
                        <select class="form-control" id="sexoAluno" name="sexoAluno">
                            <option>MASCULINO</option>
                            <option>FEMININO</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="corAluno">Cor/Raça</label>
                        <select class="form-control" id="corAluno" name="corAluno">
                            <option value="0">BRANCA</option>
                            <option value="1">PRETA</option>
                            <option value="2">PARDA</option>
                            <option value="3">AMARELA</option>
                            <option value="4">INDÍGENA</option>
                            <option value="5">QUILOMBOLA</option>
                            <option value="6">NÃO DECLARADA</option>                            
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="situacaoAluno">Situação do aluno</label>
                        <select class="form-control" id="situacaoAluno" name="situacaoAluno">
                            <option value="0">Aguardando matrícula</option>
                            <option value="1">Aguardando transferência</option>
                            <option value="2">Aguardando vaga</option>
                            <option value="3">Inativo - Abandonou a escola</option>
                            <option value="4">Inativo - Concluiu o curso</option>
                            <option value="5">Inativo - Dispensado</option>
                            <option value="6">Inativo - Falecido</option>                            
                            <option value="7">Inativo - Outras situações</option>
                            <option value="8">Inativo - Trancou matrícula</option>
                            <option value="9">Inativo - Transferido da escola</option>
                            <option value="10">Matriculado</option>
                            <option value="11">Pré-matrícula</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="emailAluno">E-mail do aluno</label>
                        <input type="text" class="form-control" id="emailAluno" name="emailAluno" placeholder="E-mail do aluno" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="deficienciaAluno">Deficiências do aluno</label>
                        <select class="form-control" id="deficienciaAluno" name="deficienciaAluno">
                            <option value="100">Sem necessidades especiais</option>
                            <option value="0">Altas Habilidades/Superdotação</option>
                            <option value="1">Baixa visão</option>
                            <option value="2">Cegueira</option>
                            <option value="3">Condutas Típicas</option>
                            <option value="4">Deficiência Auditiva</option>
                            <option value="5">Deficiência física</option>
                            <option value="6">Deficiência Intelectual</option>                            
                            <option value="7">Deficiência multipla</option>
                            <option value="8">Deficiencia visual</option>
                            <option value="9">Dislexia</option>
                            <option value="10">Distúrbios alimentares</option>
                            <option value="11">Outras</option>
                            <option value="12">Paralisia Cerebral</option>
                            <option value="13">Sindrome Asperger</option>
                            <option value="14">Crouzon</option>
                            <option value="15">Moebius</option>
                            <option value="16">Rett</option>
                            <option value="17">Down</option>
                            <option value="18">Williams</option>                            
                            <option value="19">Surdez</option>
                            <option value="20">Surdocegueira</option>
                            <option value="21">TDAH</option>
                            <option value="22">TEA/Autismo</option>
                            <option value="23">Transtorno Desintegrativo da Infância</option>
                            <option value="24">Transtorno Hipercinético</option>
                            <option value="25">Transtornos Específicos do desenvolvimento de hab</option>
                            <option value="26">Transtornos globais de desenvolvimento</option>                            
                        </select>                        
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="deficienciaAluno2"> 2</label>
                        <select class="form-control" id="deficienciaAluno2" name="deficienciaAluno2">
                            <option value="100">Sem necessidades especiais</option>
                            <option value="0">Altas Habilidades/Superdotação</option>
                            <option value="1">Baixa visão</option>
                            <option value="2">Cegueira</option>
                            <option value="3">Condutas Típicas</option>
                            <option value="4">Deficiência Auditiva</option>
                            <option value="5">Deficiência física</option>
                            <option value="6">Deficiência Intelectual</option>                            
                            <option value="7">Deficiência multipla</option>
                            <option value="8">Deficiencia visual</option>
                            <option value="9">Dislexia</option>
                            <option value="10">Distúrbios alimentares</option>
                            <option value="11">Outras</option>
                            <option value="12">Paralisia Cerebral</option>
                            <option value="13">Sindrome Asperger</option>
                            <option value="14">Crouzon</option>
                            <option value="15">Moebius</option>
                            <option value="16">Rett</option>
                            <option value="17">Down</option>
                            <option value="18">Williams</option>                            
                            <option value="19">Surdez</option>
                            <option value="20">Surdocegueira</option>
                            <option value="21">TDAH</option>
                            <option value="22">TEA/Autismo</option>
                            <option value="23">Transtorno Desintegrativo da Infância</option>
                            <option value="24">Transtorno Hipercinético</option>
                            <option value="25">Transtornos Específicos do desenvolvimento de hab</option>
                            <option value="26">Transtornos globais de desenvolvimento</option>                            
                        </select>                        
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group"> 
                        <label for="deficienciaAluno3"> 3</label>                       
                        <select class="form-control" id="deficienciaAluno3" name="deficienciaAluno3">
                            <option value="100">Sem necessidades especiais</option>
                            <option value="0">Altas Habilidades/Superdotação</option>
                            <option value="1">Baixa visão</option>
                            <option value="2">Cegueira</option>
                            <option value="3">Condutas Típicas</option>
                            <option value="4">Deficiência Auditiva</option>
                            <option value="5">Deficiência física</option>
                            <option value="6">Deficiência Intelectual</option>                            
                            <option value="7">Deficiência multipla</option>
                            <option value="8">Deficiencia visual</option>
                            <option value="9">Dislexia</option>
                            <option value="10">Distúrbios alimentares</option>
                            <option value="11">Outras</option>
                            <option value="12">Paralisia Cerebral</option>
                            <option value="13">Sindrome Asperger</option>
                            <option value="14">Crouzon</option>
                            <option value="15">Moebius</option>
                            <option value="16">Rett</option>
                            <option value="17">Down</option>
                            <option value="18">Williams</option>                            
                            <option value="19">Surdez</option>
                            <option value="20">Surdocegueira</option>
                            <option value="21">TDAH</option>
                            <option value="22">TEA/Autismo</option>
                            <option value="23">Transtorno Desintegrativo da Infância</option>
                            <option value="24">Transtorno Hipercinético</option>
                            <option value="25">Transtornos Específicos do desenvolvimento de hab</option>
                            <option value="26">Transtornos globais de desenvolvimento</option>                            
                        </select>                        
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="matricAluno">Matricula do aluno</label>
                        <input type="text" class="form-control" id="matricAluno" name="matricAluno" placeholder="Matricula do aluno" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="escolaAnterior">Escola anterior</label>
                        <select class="form-control" name="escolaAnterior" id="escolaAnterior">
                            <option value="0">Escola 1</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="matricAntAluno">Matricula anterior do aluno</label>
                        <input type="text" class="form-control" id="matricAntAluno" name="matricAntAluno" placeholder="Matricula anterior do aluno" required>
                    </div>
                </div>
            </div>
            <h5 class="card-title mt-4" style="color: dark-blue;">Documentação do aluno</h5>
            <hr>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="nacionalidadeAluno">Nacionalidade</label>
                        <select class="form-control" id="nacionalidadeAluno" name="nacionalidadeAluno">
                            <option value="0">Brasileira</option>
                            <option value="1">Brasileira naturalizado</option>
                            <option value="2">Estrangeiro</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="paisAluno">País de origem</label>
                        <select class="form-control" id="paisAluno" name="paisAluno">
                            <option value="0">BRASIL</option>
                            <option value="1">País A</option>
                            <option value="2">País B</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ufAluno">UF</label>
                        <select class="form-control" id="ufAluno" name="ufAluno">
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                            <option value="EX">Estrangeiro</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="naturalidadeAluno">Naturalidade</label>
                        <select class="form-control" id="naturalidadeAluno" name="naturalidadeAluno">
                            <option value="0">Municipio 1</option>
                        </select>                            
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="cpfAluno">CPF do Aluno</label>
                        <input type="text" class="form-control cpf" id="cpfAluno" name="cpfAluno" placeholder="CPF do aluno" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="tipoDoc">Tipo de Documento</label>
                        <select class="form-control" id="tipoDoc" name="tipoDoc">
                            <option value="0">Não consta</option>
                            <option value="1">Nascimento</option>
                            <option value="2">Casamento</option>                            
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="numeroDoc">Número do documento</label>
                        <input type="text" class="form-control" id="numeroDoc" name="numeroDoc" placeholder="Número do documento" required>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ufDoc">UF</label>
                        <select class="form-control" id="ufDoc" name="ufDoc">
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                            <option value="EX">Estrangeiro</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="municipioDoc">Município Registro</label>
                        <select class="form-control" id="municipioDoc" name="municipioDoc">
                            <option value="0">Município 1</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="cartorioDoc">Cartório</label>
                        <select class="form-control" id="cartorioDoc" name="cartorioDoc">
                            <option value="0">Cartório 1</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="rgDoc">RG do aluno</label>
                        <input type="text" class="form-control" id="rgDoc" name="rgDoc" placeholder="RG do Aluno" required>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="emissorRg">Orgão emissor</label>
                        <select class="form-control" id="emissorRg" name="emissorRg">
                            <option value="0">Emissor 1</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ufRg">UF</label>
                        <select class="form-control" id="ufRg" name="ufRg">
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                            <option value="EX">Estrangeiro</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="dataDoc">Data emissão</label>
                        <input type="date" class="form-control" id="dataDoc" name="dataDoc" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="certReserv">Certidão de Reservista</label>
                        <input type="text" class="form-control" id="certReserv" name="certReserv" placeholder="Certidão de reservista" required>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="justifDoc">Justificativa para falta de documentação do aluno</label>
                        <select class="form-control" id="justifDoc" name="justifDoc">
                            <option value="0">Documento OK</option>
                            <option value="1">Não possui os documentos pessoais solicitados</option>
                            <option value="2">A escola não dispõe ou não recebeu os documentos</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <input type="checkbox" class="form-control-md" id="eResp" name="eResp">
                        O aluno é responsável
                    </div>
                </div>
            </div>
            <h5 class="card-title mt-4" style="color: dark-blue;">Endereço do aluno</h5>
            <hr>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="cepEnd">CEP do Endereço</label>
                        <input type="text" class="form-control cep" id="cepEnd" name="cepEnd" placeholder="CEP do Endereço" required>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="endereco">Endereço</label>
                        <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Endereço" required>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <label for="numEnd">Número</label>
                        <input type="text" class="form-control" id="numEnd" name="numEnd" placeholder="Nº" required>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="bairroEnd">Bairro</label>
                        <input type="text" class="form-control" id="bairroEnd" name="bairroEnd" placeholder="Bairro" required>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="complementoEnd">Complemento</label>
                        <input type="text" class="form-control" id="complementoEnd" name="complementoEnd" placeholder="Complemento">
                    </div>
                </div>                  
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ufEnd">UF</label>
                        <select class="form-control" id="ufEnd" name="ufEnd">
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                            <option value="EX">Estrangeiro</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="municipioEnd">Municipio</label>
                        <select class="form-control" id="municipioEnd" name="municipioEnd">
                            <option value="0">Municipio 1</option>
                        </select>                            
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="distritoEnd">Distrito</label>
                        <input type="text" class="form-control" id="distritoEnd" name="distritoEnd" placeholder="Distrito do Endereço">                                                      
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="telresEnd">Tel. Residencial</label>
                        <input type="text" class="form-control phone" id="telresEnd" name="telresEnd" required>                                                      
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="celEnd">Tel. Celular</label>
                        <input type="text" class="form-control phone" id="celEnd" name="celEnd" required>                                                      
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="nucleohab">Núcleo habitacional</label>
                        <select class="form-control" id="nucleohab" name="nucleohab">
                            <option value="0">Zona urbana</option>
                            <option value="1">Zona rural</option>
                        </select>                            
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="tipomoradia">Tipo de moradia</label>
                        <select class="form-control" id="tipomoradia" name="tipomoradia">
                            <option value="0">Aluguel</option>
                            <option value="1">Cedida</option>
                            <option value="2">Própria</option>
                            <option value="3">Compartilhado</option>
                        </select>                            
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="companhiaMoradia">Mora em companhia de quem</label>
                        <select class="form-control" id="companhiaMoradia" name="companhiaMoradia">
                            <option value="0">Somente com o pai</option>
                            <option value="1">Somente com a mãe</option>
                            <option value="2">Familiares</option>
                            <option value="3">Outras pessoas</option>
                            <option value="4">Com pai e mãe</option>
                        </select>                            
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title" style="color: dark-blue;">Transporte</h5>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="transPub">Transporte escolar público</label>
                        <select class="form-control" id="transPub" name="transPub">
                            <option value="0">Não utiliza</option>
                            <option value="1">Utiliza</option>                            
                        </select>                            
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="transResp">Poder público responsável pelo transporte</label>
                        <select class="form-control" id="transResp" name="transResp">
                            <option value="0">Estadual</option>
                            <option value="1">Municipal</option>  
                            <option value="2">Nenhum</option>                          
                        </select>                            
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="trans1">Transporte 1</label>
                        <select class="form-control" id="trans1" name="trans1">
                            <option value="0">Nenhum</option>
                            <option value="1">Rodoviário - Onibus</option>  
                            <option value="2">Rodoviário - Microonibus</option>  
                            <option value="3">Rodoviário - Vans/Kombi</option>
                            <option value="4">Rodoviário - Bicicleta</option>
                            <option value="5">Rodoviário - Tração Animal</option>
                            <option value="6">Rodoviário - Outros</option>
                            <option value="7">Aquaviário - Capacidade até 5</option>
                            <option value="8">Aquaviário - Capacidade de 5 a 15</option>
                            <option value="9">Aquaviário - Capacidade de 15 a 35</option>
                            <option value="10">Aquaviário - Mais que 35</option>                             
                        </select>                            
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="trans2">Transporte 2</label>
                        <select class="form-control" id="trans2" name="trans2">
                            <option value="0">Nenhum</option>
                            <option value="1">Rodoviário - Onibus</option>  
                            <option value="2">Rodoviário - Microonibus</option>  
                            <option value="3">Rodoviário - Vans/Kombi</option>
                            <option value="4">Rodoviário - Bicicleta</option>
                            <option value="5">Rodoviário - Tração Animal</option>
                            <option value="6">Rodoviário - Outros</option>
                            <option value="7">Aquaviário - Capacidade até 5</option>
                            <option value="8">Aquaviário - Capacidade de 5 a 15</option>
                            <option value="9">Aquaviário - Capacidade de 15 a 35</option>
                            <option value="10">Aquaviário - Mais que 35</option>                             
                        </select>                            
                    </div>
                </div>                
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="trans3">Transporte 3</label>
                        <select class="form-control" id="trans3" name="trans3">
                            <option value="0">Nenhum</option>
                            <option value="1">Rodoviário - Onibus</option>  
                            <option value="2">Rodoviário - Microonibus</option>  
                            <option value="3">Rodoviário - Vans/Kombi</option>
                            <option value="4">Rodoviário - Bicicleta</option>
                            <option value="5">Rodoviário - Tração Animal</option>
                            <option value="6">Rodoviário - Outros</option>
                            <option value="7">Aquaviário - Capacidade até 5</option>
                            <option value="8">Aquaviário - Capacidade de 5 a 15</option>
                            <option value="9">Aquaviário - Capacidade de 15 a 35</option>
                            <option value="10">Aquaviário - Mais que 35</option>                             
                        </select>                            
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="escoutroLocal">Recebe escolarização em outro local?</label>
                        <select class="form-control" id="escoutroLocal" name="escoutroLocal">
                            <option value="0">Não recebe</option>
                            <option value="1">Em hospital</option>  
                            <option value="2">Em domicílio</option>                                                           
                        </select>                            
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title" style="color: dark-blue;">Informações do Pai</h5>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nomePai">Nome</label>
                        <input type="text" class="form-control" id="nomePai" name="nomePai" placeholder="Nome do pai">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="rgPai">RG</label>
                        <input type="text" class="form-control" id="rgPai" name="rgPai" placeholder="RG do pai">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="emissorRgPai">Orgão emissor</label>
                        <select class="form-control" id="emissorRgPai" name="emissorRgPai">
                            <option value="0">Emissor 1</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ufrgPai">UF</label>
                        <select class="form-control" id="ufrgPai" name="ufrgPai">
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                            <option value="EX">Estrangeiro</option>
                        </select>
                    </div>
                </div>                                
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="dataEmissRgPai">Data de Emissão</label>
                        <input type="date" class="form-control" id="dataEmissRgPai" name="dataEmissRgPai">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="cpfPai">CPF do Pai</label>
                        <input type="text" class="form-control cpf" id="cpfPai" name="cpfPai">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="nisPai">NIS do Pai</label>
                        <input type="text" class="form-control" id="nisPai" name="nisPai">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="rendaPai">Renda familiar</label>
                        <input type="number " class="form-control" id="rendaPai" name="rendaPai">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="nacionalidadePai">Nacionalidade</label>
                        <select class="form-control" id="nacionalidadePai" name="nacionalidadePai">
                            <option value="0">Brasileira</option>
                            <option value="1">Brasileira naturalizado</option>
                            <option value="2">Estrangeiro</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="paisPai">País de origem</label>
                        <select class="form-control" id="paisPai" name="paisPai">
                            <option value="0">BRASIL</option>
                            <option value="1">País A</option>
                            <option value="2">País B</option>
                        </select>
                    </div>
                </div>                
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ufnascPai">UF</label>
                        <select class="form-control" id="ufnascPai" name="ufnascPai">
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                            <option value="EX">Estrangeiro</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="naturalidadePai">Naturalidade</label>
                        <select class="form-control" id="naturalidadePai" name="naturalidadePai">
                            <option value="0">Municipio 1</option>
                        </select>                            
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="escolaridadePai">Escolaridade</label>
                        <select class="form-control" id="escolaridadePai" name="escolaridadePai">
                            <option value="FUNDAMENTAL COMPLETO">FUNDAMENTAL COMPLETO</option>
                            <option value="FUNDAMENTAL INCOMPLETO">FUNDAMENTAL INCOMPLETO</option>
                            <option value="MEDIO COM MAGISTERIO COMPLETO">MEDIO COM MAGISTERIO COMPLETO</option>
                            <option value="MEDIA COM OUTRA FORMAÇAO COMPLETA">MEDIA COM OUTRA FORMAÇAO COMPLETA</option>
                            <option value="SUPERIOR COM LICENCIATURA COMPLETO">SUPERIOR COM LICENCIATURA COMPLETO</option>
                            <option value="SUPERIOR COMPLETO SEM LICENCIATURA (MAGISTERIO)">SUPERIOR COMPLETO SEM LICENCIATURA (MAGISTERIO)</option>
                            <option value="SUPERIOR COMPLETO SEM LICENCIATURA (SEM MAGISTERIO)">SUPERIOR COMPLETO SEM LICENCIATURA (SEM MAGISTERIO)</option>
                            <option value="OUTRA FORMACAO">OUTRA FORMAÇÃO</option>
                            <option value="POS GRADUADO ESPECIALIZACAO">PÓS-GRADUADO ESPECIALIZAÇÃO</option>
                            <option value="MESTRADO">MESTRADO</option>
                            <option value="DOUTORADO">DOUTORADO</option>
                            <option value="ANALFABETO">ANALFABETO</option>
                            <option value="ENSINO MEDIO INCOMPLETO">ENSINO MÉDIO INCOMPLETO</option>
                            <option value="ENSINO SUPERIOR INCOMPLETO">ENSINO SUPERIOR INCOMPLETO</option>
                            <option value="ENSINO MEDIO">ENSINO MÉDIO</option>
                            <option value="ENSINO MEDIO MAGISTERIO INDIGENA">ENSINO MÉDIO - MAGISTÉRIO INDIGENA</option>
                            <option value="SUPERIOR">SUPERIOR</option>
                        </select>                            
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="profPai">Profissão do pai</label>
                        <input type="text" class="form-control" id="profPai" name="profPai" placeholder="Profissão do pai">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="localtrabPai">Local de trabalho</label>
                        <input type="text" class="form-control" id="localtrabPai" name="localtrabPai" placeholder="Local de trabalho">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="telPai">Telefone</label>
                        <input type="text" class="form-control phone" id="telPai" name="telPai" placeholder="Telefone do pai">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="cepPai">CEP</label>
                        <input type="text" class="form-control cep" id="cepPai" name="cepPai" placeholder="CEP do Pai">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="enderecoPai">Endereço</label>
                        <input type="text" class="form-control" id="enderecoPai" name="enderecoPai" placeholder="Endereço">
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <label for="numPai">Número</label>
                        <input type="text" class="form-control" id="numPai" name="numPai" placeholder="Nº">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="bairroPai">Bairro</label>
                        <input type="text" class="form-control" id="bairroPai" name="bairroPai" placeholder="Bairro">
                    </div>
                </div>                                
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ufPai">UF</label>
                        <select class="form-control" id="ufPai" name="ufPai">
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                            <option value="EX">Estrangeiro</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="municipioPai">Municipio</label>
                        <select class="form-control" id="municipioPai" name="municipioPai">
                            <option value="0">Municipio 1</option>
                        </select>                            
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="distritoPai">Distrito</label>
                        <input type="text" class="form-control" id="distritoPai" name="distritoPai" placeholder="Distrito do Endereço">                                                      
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="estadocivilPai">Estado civil</label>
                        <select name="estadocivilPai" id="estadocivilPai" class="form-control">
                            <option value="0">Casado</option>
                            <option value="1">Separado</option>
                            <option value="2">Solteiro</option>
                            <option value="3">Juntos</option>
                            <option value="4">Viuvo</option>
                            <option value="5">Outros</option>                            
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title" style="color: dark-blue;">Informações da Mae</h5>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nomeMae">Nome</label>
                        <input type="text" class="form-control" id="nomeMae" name="nomeMae" placeholder="Nome da Mae" required>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="rgMae">RG</label>
                        <input type="text" class="form-control" id="rgMae" name="rgMae" placeholder="RG da Mae" required>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="emissorRgMae">Orgão emissor</label>
                        <select class="form-control" id="emissorRgMae" name="emissorRgMae">
                            <option value="0">Emissor 1</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ufrgMae">UF</label>
                        <select class="form-control" id="ufrgMae" name="ufrgMae">
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                            <option value="EX">Estrangeiro</option>
                        </select>
                    </div>
                </div>                                
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="dataEmissRgMae">Data de Emissão</label>
                        <input type="date" class="form-control" id="dataEmissRgMae" name="dataEmissRgMae" required>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="cpfMae">CPF da Mae</label>
                        <input type="text" class="form-control cpf" id="cpfMae" name="cpfMae" required>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="nisMae">NIS da Mae</label>
                        <input type="text" class="form-control" id="nisMae" name="nisMae">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="rendaMae">Renda familiar</label>
                        <input type="number " class="form-control" id="rendaMae" name="rendaMae">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="nacionalidadeMae">Nacionalidade</label>
                        <select class="form-control" id="nacionalidadeMae" name="nacionalidadeMae">
                            <option value="0">Brasileira</option>
                            <option value="1">Brasileira naturalizado</option>
                            <option value="2">Estrangeiro</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="paisMae">País de origem</label>
                        <select class="form-control" id="paisMae" name="paisMae">
                            <option value="0">BRASIL</option>
                            <option value="1">País A</option>
                            <option value="2">País B</option>
                        </select>
                    </div>
                </div>                
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ufnascMae">UF</label>
                        <select class="form-control" id="ufnascMae" name="ufnascMae">
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                            <option value="EX">Estrangeiro</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="naturalidadeMae">Naturalidade</label>
                        <select class="form-control" id="naturalidadeMae" name="naturalidadeMae">
                            <option value="0">Municipio 1</option>
                        </select>                            
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="escolaridadeMae">Escolaridade</label>
                        <select class="form-control" id="escolaridadeMae" name="escolaridadeMae">
                            <option value="FUNDAMENTAL COMPLETO">FUNDAMENTAL COMPLETO</option>
                            <option value="FUNDAMENTAL INCOMPLETO">FUNDAMENTAL INCOMPLETO</option>
                            <option value="MEDIO COM MAGISTERIO COMPLETO">MEDIO COM MAGISTERIO COMPLETO</option>
                            <option value="MEDIA COM OUTRA FORMAÇAO COMPLETA">MEDIA COM OUTRA FORMAÇAO COMPLETA</option>
                            <option value="SUPERIOR COM LICENCIATURA COMPLETO">SUPERIOR COM LICENCIATURA COMPLETO</option>
                            <option value="SUPERIOR COMPLETO SEM LICENCIATURA (MAGISTERIO)">SUPERIOR COMPLETO SEM LICENCIATURA (MAGISTERIO)</option>
                            <option value="SUPERIOR COMPLETO SEM LICENCIATURA (SEM MAGISTERIO)">SUPERIOR COMPLETO SEM LICENCIATURA (SEM MAGISTERIO)</option>
                            <option value="OUTRA FORMACAO">OUTRA FORMAÇÃO</option>
                            <option value="POS GRADUADO ESPECIALIZACAO">PÓS-GRADUADO ESPECIALIZAÇÃO</option>
                            <option value="MESTRADO">MESTRADO</option>
                            <option value="DOUTORADO">DOUTORADO</option>
                            <option value="ANALFABETO">ANALFABETO</option>
                            <option value="ENSINO MEDIO INCOMPLETO">ENSINO MÉDIO INCOMPLETO</option>
                            <option value="ENSINO SUPERIOR INCOMPLETO">ENSINO SUPERIOR INCOMPLETO</option>
                            <option value="ENSINO MEDIO">ENSINO MÉDIO</option>
                            <option value="ENSINO MEDIO MAGISTERIO INDIGENA">ENSINO MÉDIO - MAGISTÉRIO INDIGENA</option>
                            <option value="SUPERIOR">SUPERIOR</option>
                        </select>                            
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="profMae">Profissão da Mae</label>
                        <input type="text" class="form-control" id="profMae" name="profMae" placeholder="Profissão da Mae">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="localtrabMae">Local de trabalho</label>
                        <input type="text" class="form-control" id="localtrabMae" name="localtrabMae" placeholder="Local de trabalho">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="telMae">Telefone</label>
                        <input type="text" class="form-control phone" id="telMae" name="telMae" placeholder="Telefone da Mae">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="cepMae">CEP</label>
                        <input type="text" class="form-control cep" id="cepMae" name="cepMae" placeholder="CEP da Mae" required>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="enderecoMae">Endereço</label>
                        <input type="text" class="form-control" id="enderecoMae" name="enderecoMae" placeholder="Endereço" required>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <label for="numMae">Número</label>
                        <input type="text" class="form-control" id="numMae" name="numMae" placeholder="Nº" required>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="bairroMae">Bairro</label>
                        <input type="text" class="form-control" id="bairroMae" name="bairroMae" placeholder="Bairro" required>
                    </div>
                </div>                                
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ufMae">UF</label>
                        <select class="form-control" id="ufMae" name="ufMae">
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                            <option value="EX">Estrangeiro</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="municipioMae">Municipio</label>
                        <select class="form-control" id="municipioMae" name="municipioMae">
                            <option value="0">Municipio 1</option>
                        </select>                            
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="distritoMae">Distrito</label>
                        <input type="text" class="form-control" id="distritoMae" name="distritoMae" placeholder="Distrito do Endereço">                                                      
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="estadocivilMae">Estado civil</label>
                        <select name="estadocivilMae" id="estadocivilMae" class="form-control">
                            <option value="0">Casado</option>
                            <option value="1">Separado</option>
                            <option value="2">Solteiro</option>
                            <option value="3">Juntos</option>
                            <option value="4">Viuvo</option>
                            <option value="5">Outros</option>                            
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title" style="color: dark-blue;">Informações do Responsável</h5>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="nomeResp">Nome</label>
                        <input type="text" class="form-control" id="nomeResp" name="nomeResp" placeholder="Nome da Resp" required>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="nascResp">Data do Nascimento</label>
                        <input type="date" class="form-control" id="nascResp" name="nascResp" required>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="rgResp">RG</label>
                        <input type="text" class="form-control" id="rgResp" name="rgResp" placeholder="RG da Resp" required>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="emissorRgResp">Orgão emissor</label>
                        <select class="form-control" id="emissorRgResp" name="emissorRgResp">
                            <option value="0">Emissor 1</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ufrgResp">UF</label>
                        <select class="form-control" id="ufrgResp" name="ufrgResp">
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                            <option value="EX">Estrangeiro</option>
                        </select>
                    </div>
                </div>                                
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="dataEmissRgResp">Data de Emissão</label>
                        <input type="date" class="form-control" id="dataEmissRgResp" name="dataEmissRgResp" required>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="cpfResp">CPF do Responsável</label>
                        <input type="text" class="form-control cpf" id="cpfResp" name="cpfResp" required>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="nisResp">NIS do Responsável</label>
                        <input type="text" class="form-control" id="nisResp" name="nisResp">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="rendaResp">Renda familiar</label>
                        <input type="number " class="form-control" id="rendaResp" name="rendaResp">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="nacionalidadeResp">Nacionalidade</label>
                        <select class="form-control" id="nacionalidadeResp" name="nacionalidadeResp">
                            <option value="0">Brasileira</option>
                            <option value="1">Brasileira naturalizado</option>
                            <option value="2">Estrangeiro</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="paisResp">País de origem</label>
                        <select class="form-control" id="paisResp" name="paisResp">
                            <option value="0">BRASIL</option>
                            <option value="1">País A</option>
                            <option value="2">País B</option>
                        </select>
                    </div>
                </div>                
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ufnascResp">UF</label>
                        <select class="form-control" id="ufnascResp" name="ufnascResp">
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                            <option value="EX">Estrangeiro</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="naturalidadeResp">Naturalidade</label>
                        <select class="form-control" id="naturalidadeResp" name="naturalidadeResp">
                            <option value="0">Municipio 1</option>
                        </select>                            
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="escolaridadeResp">Escolaridade</label>
                        <select class="form-control" id="escolaridadeResp" name="escolaridadeResp">
                            <option value="FUNDAMENTAL COMPLETO">FUNDAMENTAL COMPLETO</option>
                            <option value="FUNDAMENTAL INCOMPLETO">FUNDAMENTAL INCOMPLETO</option>
                            <option value="MEDIO COM MAGISTERIO COMPLETO">MEDIO COM MAGISTERIO COMPLETO</option>
                            <option value="MEDIA COM OUTRA FORMAÇAO COMPLETA">MEDIA COM OUTRA FORMAÇAO COMPLETA</option>
                            <option value="SUPERIOR COM LICENCIATURA COMPLETO">SUPERIOR COM LICENCIATURA COMPLETO</option>
                            <option value="SUPERIOR COMPLETO SEM LICENCIATURA (MAGISTERIO)">SUPERIOR COMPLETO SEM LICENCIATURA (MAGISTERIO)</option>
                            <option value="SUPERIOR COMPLETO SEM LICENCIATURA (SEM MAGISTERIO)">SUPERIOR COMPLETO SEM LICENCIATURA (SEM MAGISTERIO)</option>
                            <option value="OUTRA FORMACAO">OUTRA FORMAÇÃO</option>
                            <option value="POS GRADUADO ESPECIALIZACAO">PÓS-GRADUADO ESPECIALIZAÇÃO</option>
                            <option value="MESTRADO">MESTRADO</option>
                            <option value="DOUTORADO">DOUTORADO</option>
                            <option value="ANALFABETO">ANALFABETO</option>
                            <option value="ENSINO MEDIO INCOMPLETO">ENSINO MÉDIO INCOMPLETO</option>
                            <option value="ENSINO SUPERIOR INCOMPLETO">ENSINO SUPERIOR INCOMPLETO</option>
                            <option value="ENSINO MEDIO">ENSINO MÉDIO</option>
                            <option value="ENSINO MEDIO MAGISTERIO INDIGENA">ENSINO MÉDIO - MAGISTÉRIO INDIGENA</option>
                            <option value="SUPERIOR">SUPERIOR</option>
                        </select>                            
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="profResp">Profissão do Responsável</label>
                        <input type="text" class="form-control" id="profResp" name="profResp" placeholder="Profissão da Resp">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="localtrabResp">Local de trabalho</label>
                        <input type="text" class="form-control" id="localtrabResp" name="localtrabResp" placeholder="Local de trabalho">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="telResp">Telefone</label>
                        <input type="text" class="form-control phone" id="telResp" name="telResp" placeholder="Telefone da Resp">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="cepResp">CEP</label>
                        <input type="text" class="form-control cep" id="cepResp" name="cepResp" placeholder="CEP da Resp" required>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="enderecoResp">Endereço</label>
                        <input type="text" class="form-control" id="enderecoResp" name="enderecoResp" placeholder="Endereço" required>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <label for="numResp">Número</label>
                        <input type="text" class="form-control" id="numResp" name="numResp" placeholder="Nº" required>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="bairroResp">Bairro</label>
                        <input type="text" class="form-control" id="bairroResp" name="bairroResp" placeholder="Bairro" required>
                    </div>
                </div>                                
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ufResp">UF</label>
                        <select class="form-control" id="ufResp" name="ufResp">
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                            <option value="EX">Estrangeiro</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="municipioResp">Municipio</label>
                        <select class="form-control" id="municipioResp" name="municipioResp">
                            <option value="0">Municipio 1</option>
                        </select>                            
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="distritoResp">Distrito</label>
                        <input type="text" class="form-control" id="distritoResp" name="distritoResp" placeholder="Distrito do Endereço">                                                      
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="estadocivilResp">Estado civil</label>
                        <select name="estadocivilResp" id="estadocivilResp" class="form-control">
                            <option value="0">Casado</option>
                            <option value="1">Separado</option>
                            <option value="2">Solteiro</option>
                            <option value="3">Juntos</option>
                            <option value="4">Viuvo</option>
                            <option value="5">Outros</option>                            
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="parentescoResp">Grau de parentesco</label>
                        <input type="text" class="form-control" id="parentescoResp" name="parentescoResp" placeholder="Grau Parentesco do responsável">                                                      
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="nomePaiResp">Nome do pai do responsável</label>
                        <input type="text" class="form-control" id="nomePaiResp" name="nomePaiResp" placeholder="Nome do pai do responsável">                                                      
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="nomeMaeResp">Nome da mãe do responsável</label>
                        <input type="text" class="form-control" id="nomeMaeResp" name="nomeMaeResp" placeholder="Nome da mãe do responsável">                                                      
                    </div>
                </div>
            </div>
        </div>
    </div>   
</form>


<script type="text/javascript">
	$(document).ready(function(){
		$(".cpf").mask("999.999.999-99");
	});

    $(document).ready(function(){
	    $(".cep").mask("99.999-999");
    });

    $(document).ready(function(){
	    $(".phone").mask("(99) 9999-9999");
    });
</script>
